<section class="grid">
  <section class="col-12 lg:col-10 lg:col-offset-1">
    <p-breadcrumb class="max-w-full" [model]="bItems" />
  </section>
  <section class="col-12 lg:col-10 lg:col-offset-1">
    <p-table
      #tablaEtapas
      [value]="etapas"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
      [loading]="loading"
      [globalFilterFields]="['nombre', 'slaDias']"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between align-items-center">
          <p-button
            label="Nuevo" size="small"
            icon="pi pi-sort-numeric-down"
            
            (onClick)="addVisible = true"
          />
          <p-iconField iconPosition="left">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input
              #q
              pInputText
              type="text"
              (input)="tablaEtapas.filterGlobal(q.value, 'contains')"
              placeholder="Buscar..."
            />
          </p-iconField>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>SLA (Días)</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-etapa>
        <tr>
          <td>
            <p class="m-0 text-sm">{{ etapa.nombre }}</p>
          </td>
          <td>
            <p class="m-0 text-sm">{{ etapa.slaDias }}</p>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="2"><p class="m-0 text-sm">Sin resultados...</p></td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</section>

<p-dialog
  header="Agregar Etapa"
  [modal]="true"
  [(visible)]="addVisible"
  [style]="{ width: '40vw' }"
>
  <section class="grid">
    <section class="col-12">
      <app-etapas-add (changed)="addOnClose($event)"></app-etapas-add>
    </section>
  </section>
</p-dialog>

<p-toast key="etapas" />
