<section class="grid">
  <section class="col-12 lg:col-10 lg:col-offset-1">
    <p-breadcrumb class="max-w-full" [model]="bItems" />
  </section>
  <section class="col-12 lg:col-10 lg:col-offset-1">
    <p-table
      #dt
      [value]="vacantes"
      [lazy]="true"
      [paginator]="true"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[5, 10, 20]"
      [loading]="loading"
      (onLazyLoad)="loadVacantes($event)"
    >
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between align-items-center">
          <p-button
            label="Nuevo"
            icon="pi pi-briefcase"
            severity="success"
            (onClick)="addVisible = true"
          />
          <p-iconField iconPosition="left">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input
              pInputText
              type="text"
              [(ngModel)]="search"
              (input)="onFilter(search)"
              placeholder="Buscar..."
            />
          </p-iconField>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Fecha de Inicio</th>
          <th>Departamento Solicitante</th>
          <th>Sede</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vacante>
        <tr>
          <td>
            <p class="m-0 text-sm">{{ vacante.nombre }}</p>
          </td>
          <td>
            <p class="m-0 text-sm">{{ vacante.fechaInicio }}</p>
          </td>
          <td>
            <p class="m-0 text-sm">{{ vacante.departamento.nombre }}</p>
          </td>
          <td>
            <p class="m-0 text-sm">{{ vacante.sede.nombre }}</p>
          </td>
          <td>
            <p-tag
              [value]="vacante.estado"
              [severity]="vacante.estado === 'cancelada' ? 'danger' : undefined"
            ></p-tag>
          </td>
          <td>
            <section class="flex gap-2">
              <p-button
                pTooltip="Editar datos"
                icon="pi pi-pencil"
                [text]="true"
                severity="warning"
                (onClick)="editOpenModal(vacante)"
              />
            </section>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6"><p class="m-0 text-sm">Sin resultados...</p></td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</section>

<p-dialog
  header="Agregar Vacante"
  [modal]="true"
  [(visible)]="addVisible"
  [style]="{ width: '40vw' }"
>
  <section class="grid">
    <section class="col-12">
      <app-vacantes-add (changed)="addOnClose($event)"></app-vacantes-add>
    </section>
  </section>
</p-dialog>

<p-dialog
  header="Editar Vacante"
  [modal]="true"
  [(visible)]="editVisible"
  [style]="{ width: '40vw' }"
>
  <section class="grid">
    <section class="col-12">
      <app-vacantes-edit
        [vacante]="editVacante"
        (changed)="editOnClose($event)"
      ></app-vacantes-edit>
    </section>
  </section>
</p-dialog>

<p-toast key="vacantes" />

<p-confirmPopup>
  <ng-template pTemplate="content" let-message>
    <p class="py-3 m-0 text-sm">{{ message.message }}</p>
  </ng-template>
</p-confirmPopup>
