<nav class="h-4rem px-4">
    <section class="flex align-items-center justify-content-between h-4rem">
        <section class="flex align-items-center gap-2">
            <p-button icon="pi pi-bars"  (onClick)="toggleSidebar()"/>
            <img src="assets/svg/tf2.svg" alt="TalentFlow" class="w-3rem h-auto">
            <p class="m-0 font-semibold">{{env.appName}}</p>
        </section>
        <section>
            <p-button icon="pi pi-user"  [text]="true" [label]="user?.email" styleClass="p-button-sm" (onClick)="menu.toggle($event)"/>
        </section>
    </section>
</nav>
<p-menu #menu [model]="userItems" [popup]="true" [style]="{ width: '220px' }" />
<p-sidebar [(visible)]="sidebarVisible" styleClass="w-20rem tf-sidebar" (onShow)="updatePanelKey()">
    <ng-template pTemplate="header">
        <section class="flex align-items-center gap-2">
            <img src="assets/svg/tf2.svg" alt="TalentFlow" class="w-3rem h-auto">
            <span class="font-semibold text-xl">{{env.appName}}</span>
        </section>
    </ng-template>
    <p-panelMenu *ngIf="panelKey" [multiple]="true" [model]="items" styleClass="w-full"/>
    <ng-template pTemplate="footer">
        <section class="flex align-items-center gap-2 py-4">
          <p-avatar icon="pi pi-building-columns"
                    [style]="{ 'background-color': 'var(--primary-color)', color: '#fff' }"/>
          <p class="m-0 font-semibold">{{ empresaNombre }}</p>
        </section>
      </ng-template>
</p-sidebar>

<p-dialog header="Actualizar contraseña" [modal]="true" [(visible)]="updatePassVisible" [style]="{ width: '30vw' }">
    <section class="grid">
        <section class="col-12">
            <app-update-pass (changed)="updatePassClose($event)"></app-update-pass>
        </section>
    </section>
</p-dialog>
<p-toast key="nav" />